<app-page-header [heading]="'Comments'|translate" [icon]="'fa-edit'"></app-page-header>

<div class="row mt-3">
    <div class="col-sm-12 form-rtl">
        <div class="card">
            <div class="card-header form-rtl"> {{'Comments'|translate}} </div>
            <div class="card-body">
                <ngb-tabset>
                    <ngb-tab>
                        <ng-template ngbTabTitle>نظر جدید</ng-template>
                        <ng-template ngbTabContent>
                            <form #fm="ngForm" (ngSubmit)="onSubmit(fm)" class="form-rtl m-2">
                                <fieldset class="form-group">
                                    <input ngModel id="title" name="title"
                                           class="form-control form-rtl" placeholder="عنوان">
                                </fieldset>
                                <fieldset class="form-group">
                                    <textarea ngModel id="message" name="message"
                                              class="form-control form-rtl" placeholder="متن پیام" rows="7"></textarea>
                                </fieldset>
                                <button class="btn btn-secondary">ارسال</button>

                            </form>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>جستجوی نظرها</ng-template>
                        <ng-template ngbTabContent>
                            <form #fm="ngForm" (ngSubmit)="onSubmitSearch(fm)" class="form-rtl m-2">
                                <fieldset class="form-group">
                                    <input ngModel id="searchSender" name="searchSender"
                                           class="form-control form-rtl" placeholder="فرستنده">
                                </fieldset>
                                <button class="btn btn-secondary">جستجو</button>
                            </form>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>
