.form-rtl {
    text-align: right;
}

m-2 {
    margin: 5px;
}

m-4 {
    margin: 5px;
}

m-8 {
    margin: 5px;
}

m-5 {
    margin: 5px;
}

m-10 {
    margin: 10px;
}

m-15 {
    margin: 15px;
}

m-20 {
    margin: 20px;
}

m-25 {
    margin: 25px;
}
