<app-page-header [heading]="'Users'|translate" [icon]="'fa-edit'"></app-page-header>

<div class="row mt-3">
    <div class="col-sm-12 form-rtl">
        <div class="card">
            <div class="card-header">{{'Users'|translate}}</div>
            <div class="card-body">
                <a class="btn btn-success" (click)="getAllUsers()">نمایش کاربران</a>

                <div class="card mb-3">
                    <div class="card-header">لیست کاربران</div>
                    <div class="card-body table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>نام</th>
                                <th>ایمیل</th>
                                <th>ویرایش</th>
                                <th>حذف</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--<tr *ngFor="let usr of userResult.data; index">-->
                            <tr *ngFor="let usr of userResult; index as i">
                                <th scope="row">{{i+1}}</th>
                                <td>{{usr.name}}</td>
                                <td>{{usr.email}}</td>
                                <td><a class="btn btn-warning">ویرایش</a></td>
                                <td><a class="btn btn-danger">حذف</a></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
