<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>سامانه سفارش خرید</h1>
            <h3 *ngIf="isLoginError" class="alert alert-danger">اطلاعات وارد شده صحیح نیست.</h3>
            <form #fm="ngForm" class="form-rtl" role="form">
            <!--<form role="form">-->
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ngModel name="email" id="email" class="form-control input-underline input-lg" placeholder="آدرس ایمیل">
                    </div>

                    <div class="form-group">
                        <input type="password" ngModel name="password" id="password" class="form-control input-underline input-lg" placeholder="رمز عبور">
                    </div>
                </div>
                <!--<a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin(fm)">ورود</a>-->
                <a class="btn rounded-btn" (click)="onLoggedin(fm)">ورود</a>
                <a class="btn rounded-btn" (click)="onSignup()">ثبت نام</a>
            </form>

        </div>
    </div>
</div>
