/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@font-face {
    font-family: "yekan";
    src: url(../assets/fonts/Yekan.eot);
    src: url(../assets/fonts/Yekan.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/Yekan.woff)
    format("woff"), url(../assets/fonts/Yekan.ttf) format("truetype"), url(../assets/fonts/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal
}

body {
    font-family: "yekan";
}
