<app-page-header [heading]="'Posts'|translate" [icon]="'fa-edit'"></app-page-header>

<div class="row mt-3">
    <div class="col-sm-12 form-rtl">
        <div class="card">
            <div class="card-header"> {{'Posts'|translate}}</div>
            <div [froalaEditor]>Hello, Froala!</div>
            <div class="card-body">
            </div>
        </div>
    </div>
</div>
