<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>SB Admin BS4 Angular4</h1>
            <h3 *ngIf="isRegisterError" class="alert alert-danger">اطلاعات ثبت نگردید. اطلاعات وارد شده را با دقت بیشتر وارد کنید.</h3>
            <!--<h3 *ngIf="isRegisterSuccess" class="alert alert-success">اطلاعات با موفقیت ثبت گردید.</h3>-->
            <form #fm="ngForm" class="form-rtl" role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ngModel name="name" class="form-control input-underline input-lg" id="name" placeholder="نام و نام خانوادگی">
                    </div>

                    <div class="form-group">
                        <input type="text" ngModel name="email" class="form-control input-underline input-lg" id="email" placeholder="آدرس ایمیل">
                    </div>

                    <div class="form-group">
                        <input type="password" ngModel name="password" class="form-control input-underline input-lg" id="password" placeholder="رمز عبور">
                    </div>
                    <div class="form-group">
                        <input type="password" ngModel name="confirm" class="form-control input-underline input-lg" id="confirm" placeholder="تکرار رمز عبور">
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="onSignup(fm)"> ثبت نام </a>&nbsp;
                <a class="btn rounded-btn" (click)="onLogin()"> ورود </a>
            </form>
        </div>
    </div>
</div>
