<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item form-rtl">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item form-rtl">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Charts' | translate }}
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item form-rtl">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Tables' | translate }}
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item form-rtl">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Forms' | translate }}
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item form-rtl">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Bootstrap Element' | translate }}
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item form-rtl">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Bootstrap Grid' | translate }}
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item form-rtl">
            <i class="fa fa-th-list"></i>&nbsp;{{ 'Component' | translate }}
        </a>
        <div class="nested-menu form-rtl">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Menu' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/hardware']" [routerLinkActive]="['router-link-active']" class="list-group-item form-rtl">
            <i class="fa fa-hdd-o"></i>&nbsp;{{ 'Hardware' | translate }}
        </a>
        <a [routerLink]="['/software']" [routerLinkActive]="['router-link-active']" class="list-group-item form-rtl">
            <i class="fa fa-puzzle-piece"></i>&nbsp;{{ 'Software' | translate }}
        </a>
        <a [routerLink]="['/posts']" [routerLinkActive]="['router-link-active']" class="list-group-item form-rtl">
            <i class="fa fa-paper-plane-o"></i>&nbsp;{{ 'Posts' | translate }}
        </a>
        <a [routerLink]="['/comments']" [routerLinkActive]="['router-link-active']" class="list-group-item form-rtl">
            <i class="fa fa-comment-o"></i>&nbsp;{{ 'Comments' | translate }}
        </a>
        <a [routerLink]="['/users']" [routerLinkActive]="['router-link-active']" class="list-group-item form-rtl">
            <i class="fa fa-user-o"></i>&nbsp;{{ 'Users' | translate }}
        </a>
    </div>
</nav>
