<app-page-header [heading]="'Hardware'|translate" [icon]="'fa-edit'"></app-page-header>

<div class="row mt-3">
    <div class="col-sm-12 form-rtl">
        <div class="card">
            <div class="card-header">درخواست {{'Hardware'|translate}} </div>
            <div class="card-body">
                <ngb-tabset>
                    <ngb-tab>
                        <ng-template ngbTabTitle>درخواست جدید</ng-template>
                        <ng-template ngbTabContent>
                            <form #fm="ngForm" (ngSubmit)="onSubmit(fm)" class="form-rtl">
                                <fieldset class="form-group">
                                    <label for="title" class="small">* سخت افزار شما برای چه کاری استفاده می گردد؟</label>
                                    <input ngModel id="title" name="title"
                                           class="form-control form-rtl" placeholder="عنوان">
                                </fieldset>
                                <hr>
                                <fieldset class="form-group">
                                    <label for="description" class="small">* نیاز خود را برای ما بیان کنید</label>
                                    <textarea ngModel id="description" name="description"
                                              class="form-control form-rtl" rows="10"
                                              placeholder="توصیف"></textarea>
                                </fieldset>
                                <hr>
                                <fieldset class="form-group">
                                    <label for="goal" class="small">قرار است با این سخت افزار چکار کنید؟</label>
                                    <input class="form-control-file" id="goal">
                                </fieldset>
                                <hr>
                                <fieldset class="form-group">
                                    <label for="capability" class="small">قابلیت های سخت افزار موردنظر</label>
                                    <textarea ngModel id="capability" name="capability"
                                              class="form-control form-rtl" rows="10"
                                              placeholder="قابلیت ها"></textarea>
                                </fieldset>
                                <hr>
                                <fieldset class="form-group">
                                    <label for="successFile">* فایل تاییدکننده</label>
                                    <input type="file" class="form-control-file" id="successFile">
                                </fieldset>

                                <button class="btn btn-secondary">ثبت درخواست</button>

                            </form>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>جستجو</ng-template>
                        <ng-template ngbTabContent>
                            <form #fm="ngForm" (ngSubmit)="onSubmitSearch(fm)" class="form-rtl">
                                <fieldset class="form-group">
                                    <label for="titleSearch" class="small">عنوان درخواست</label>
                                    <input ngModel id="titleSearch" name="titleSearch"
                                           class="form-control form-rtl" placeholder="عنوان">
                                </fieldset>
                                <fieldset class="form-group">
                                    <label for="numberSearch" class="small">شماره درخواست</label>
                                    <input ngModel id="numberSearch" name="titleSearch"
                                           class="form-control form-rtl" placeholder="شماره درخواست">
                                </fieldset>
                                <button class="btn btn-secondary">جستجو</button>
                            </form>
                            <hr>

                            <div class="card mb-3">
                                <div class="card-header">نتیجه جستجو</div>
                                <div class="card-body table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>عنوان</th>
                                            <th>وضعیت</th>
                                            <th>ویرایش</th>
                                            <th>حذف</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>رایانه همراه</td>
                                            <td>جدید</td>
                                            <td><a class="btn btn-warning">ویرایش</a></td>
                                            <td><a class="btn btn-danger">حذف</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td> سیستم سازمانی</td>
                                            <td>دردست بررسی</td>
                                            <td><a class="btn btn-warning">ویرایش</a></td>
                                            <td><a class="btn btn-danger">حذف</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>کیبورد</td>
                                            <td>خاتمه یافته موفق</td>
                                            <td><a class="btn btn-warning">ویرایش</a></td>
                                            <td><a class="btn btn-danger">حذف</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <!--<td colspan="2">سامانه نظارت تصویر</td>-->
                                            <td>تجهیزات اتاق سرور</td>
                                            <td>خاتمه یافته نا موفق</td>
                                            <td><a class="btn btn-warning">ویرایش</a></td>
                                            <td><a class="btn btn-danger">حذف</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>
