<div class="card-body">
    <div class="list-group">
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-comment fa-fw"></i> {{'New Comment' | translate}}
            <span class="float-right text-muted small"><em>4 minutes ago</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-twitter fa-fw"></i> 3 {{'New Followers' | translate}}
            <span class="float-right text-muted small"><em>12 minutes ago</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-envelope fa-fw"></i> {{'Message Sent' | translate}}
            <span class="float-right text-muted small"><em>27 minutes ago</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-tasks fa-fw"></i> {{'New Task' | translate}}
            <span class="float-right text-muted small"><em>43 minutes ago</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-upload fa-fw"></i> {{'Server Rebooted' | translate}}
            <span class="float-right text-muted small"><em>11:32 AM</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-bolt fa-fw"></i> {{'Server Crashed' | translate}}
            <span class="float-right text-muted small"><em>11:13 AM</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-warning fa-fw"></i> {{'Server Not Responding' | translate}}
            <span class="float-right text-muted small"><em>10:57 AM</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-shopping-cart fa-fw"></i> {{'New Order Placed' | translate}}
            <span class="float-right text-muted small"><em>9:49 AM</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-money fa-fw"></i> {{'Payment Received' | translate}}
            <span class="float-right text-muted small"><em>Yesterday</em></span>
        </a>
    </div>
    <!-- /.list-group -->
    <a href="#" class="btn btn-default btn-block">{{'View All Alerts' | translate}}</a>
</div>
